body{
	font-family: Helvetica;
}
div.container{
	width: 90%;
}
.mychild{
	padding-left:50px;
	white-space:pre-wrap;
}
tbody td{
	cursor: pointer;
}
thead{
	background-color: #004666;
	color: white;
}
.descripcion{
	max-width: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.active{
	max-width: 25px;
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
}