body, .btn{
  font-size:11px ;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #004666;
  padding: 5px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*end header css*/

.table-container{
	padding: 5px;
}

/*for hover on table*/
.table-hover>tbody>tr:hover {
    background-color: #d9edf7;
}

/*for color of headers*/
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th{
	border:  1px solid #d9edf7;
}
.table thead tr:nth-child(2) td{
  background-color: #c6dfe7;
  border:  1px solid #d9edf7;
}

/*for color of modal '+' table */
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before{
	background-color: #006384;
}
/*to adjust headers height*/
table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting{
  padding-right: 20 px;
}

.status, .consecutivo, .numparte, .cant, .sopmp, .proyecto{
    text-align: center;
}

.hidInput{
  width: 100%;
}
.hide{
  display: none;
}
td.proceso{
  font-weight: bold;
  background-color: rgb(247, 162, 204) !important;
}
.aclaracion{
  font-weight: bold;
  background-color: #ffff87 !important;
}
.almacen{
  font-weight: bold;
  background-color: #bbff55 !important;
}
.cancelado{
  font-weight: bold;
  color: white;
  background-color: black !important;
}
.cotizacion{
  font-weight: bold;
  background-color: rgb(247, 182, 63) !important;
}
.seta{
  font-weight: bold;
  background-color:skyblue !important;
}


.char-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.char-container a {
  padding: 32px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.char-container a:hover {
  color: #f1f1f1;
}

.char-container .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}
h3{
  text-align: center;
}
#datachar{
  padding-left: 15px;
  padding-right: 10px;
}
/*<img src="https://i.imgur.com/zB5JRnV.jpeg" height="50" style="float: left;">*/